body {
  background-color: goldenrod;
  font-family: sans-serif;

}

h1 {
  text-align: center;
  padding: 5px 5px 5px 5px;
  background-color: gold;
}

h2 {
  position: relative;
  text-align: center;
}

ul {
  font-size: larger;
  text-align: center;
  word-spacing: 2px;
}



.quiz {

  text-align: center;
  background-color: gold;
  border-radius: 5%;
  margin: 0 auto;
  width: 500px;
  height: 500px;
}

.btn {
  background-color: aliceblue;
  color: black;
  width: 90%;
  margin: 2px;
  border: 1px solid;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 217, 0, 0.384);
}

#next {
  background-color: rgb(229, 223, 160);
  color: black;
  width: 50%;
  margin: 2px;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: none;

}

#next:hover {
  background-color: rgba(255, 217, 0, 0.384);

}

ul {
  list-style: none;
}

#next {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 10%;
  height: 10%;
}

#show-result {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  padding: 20px;
  color: aliceblue;
  border-radius: 14px;
  text-align: center;
  color: black;
  font-size: larger;

}



#score {
  text-align: center;
  top: 50%;
}

#titlescreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(245, 191, 75);
  z-index: 1000;

}

#welcome-page {
  position: relative;
  text-align: center;
}

#welcome-text {
  position: relative;
  text-align: center;

}

#welcome-reminder {
  position: relative;
  text-align: center;

}

#start-button {
  position: relative;
  left: 43%;
  top: 5%;
  padding: 20px 20px 20px 20px;
  background-color: goldenrod;
  font-size: large;
  color: aliceblue;

}

#fname {
  position: relative;
  left: 43%;
  top: 5%;
  padding: 20px;
  font-size: larger;
}

h5 {
  position: relative;
  text-align: center;
}

#endscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: rgb(7, 216, 87);
  z-index: 1000;
  display: none;

}


#score-end {
  text-align: center;

}

#endtitle {
  text-align: center;
}

#name {
  text-align: center;
}

#tryAgain {
  padding: 10px 20px;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: goldenrod;
}