body {
  font-family: sans-serif;
  background-image: url('../pictures/oscars-bg.png');
  background-repeat: repeat;
  background-size: cover;
  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  padding: 5px 5px 5px 5px;

}

h2 {
  position: relative;
  text-align: center;
}

ul {
  font-size: larger;
  text-align: center;
  word-spacing: 2px;
}

.quiz-contain {
  position: relative;
  top: 150px
}

.quiz {
  align-content: center;
  text-align: center;
  background-color: rgba(255, 217, 0, 0.541);
  border-radius: 5%;
  margin: auto;
  width: 500px;
  height: 600px;
  border: 5px solid black;
}

.btn {
  background-color: aliceblue;
  color: black;
  width: 90%;
  margin: 2px;
  border: 1px solid;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 217, 0, 0.384);
}

#next {
  background-color: rgb(229, 223, 160);
  color: black;
  width: 50%;
  margin: 2px;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#next:hover {
  background-color: rgba(255, 217, 0, 0.384);
}

ul {
  list-style: none;
}

#next {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 10%;
  height: 10%;
}

#show-result {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  padding: 20px;
  color: aliceblue;
  border-radius: 14px;
  text-align: center;
  color: black;
  font-size: larger;
}

#score {
  text-align: center;
  top: 50%;
}

#titlescreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('../pictures/oscars-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
}

#welcome-page {
  position: relative;
  text-align: center;
}

#welcome-text {
  position: relative;
  text-align: center;

}

#welcome-reminder {
  position: relative;
  text-align: center;
}

#start-button {
  position: relative;
  left: 43%;
  top: 5%;
  padding: 20px 20px 20px 20px;
  background-color: goldenrod;
  font-size: large;
  color: aliceblue;
}

#submit {
  background-color: goldenrod;
  font-size: large;
  color: aliceblue;
}

#submit:hover {
  background-color: rgb(245, 191, 75);
  cursor: pointer;
}

#fname {
  position: relative;
  left: 43%;
  top: 5%;
  padding: 20px;
  font-size: larger;
}

h5 {
  position: relative;
  text-align: center;
}

#endscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100dvh;
  width: 100dvw;
  background-image: url('../pictures/oscars-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
  display: none;
}

#score-end {
  text-align: center;
}

#endtitle {
  text-align: center;
}

#name {
  text-align: center;
}

#tryAgain {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px 20px;
  font-size: 20px;
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: goldenrod;
}

#choices {
  background-color: rgba(253, 194, 0, 0.637);
  border: solid 2px black;
  border-radius: 5%;
}



@media (max-width: 480px) {
  body {
    font-family: sans-serif;
    background-image: url('../pictures/oscars-bg.png');
    background-repeat: repeat;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #submit {
    background-color: goldenrod;
    font-size: large;
    color: aliceblue;
  }

  #submit:hover {
    background-color: rgb(245, 191, 75);
    cursor: pointer;
  }

  .quiz-contain {
    position: relative;
    top: 150px;
    width: 50px;
  }

  .quiz {
    position: absolute;
    top: -50px;
    align-content: center;
    text-align: center;
    background-color: rgba(255, 217, 0, 0.541);
    border-radius: 5%;
    margin: auto;
    width: 350px;
    height: 500px;
    border: 5px solid black;
  }

  #show-result {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -1%);
    font-size: 15px;
    padding: 20px;
    color: aliceblue;
    border-radius: 14px;
    text-align: center;
    color: black;
    font-size: small;
  }

  #score {
    text-align: center;
    top: 1%;
  }

  #titlescreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../pictures/oscars-bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #start-button {
    position: relative;
    left: -35%;
    top: 13%;
    padding: 5px 5px 5px 5px;
    background-color: goldenrod;
    font-size: large;
    color: aliceblue;
  }

  #fname {
    position: relative;
    left: 10%;
    top: 5%;
    padding: 20px;
    font-size: larger;
  }
}

@media (min-width: 768px) {
  /* CSS rules for tablets */
}

@media (min-width: 1024px) {
  /* CSS rules for desktops */
}

@media (min-width: 1280px) {
  /* CSS rules for large desktops */
}